In [2]:
import json
import csv
import pandas as pd

In [9]:
circuits = pd.read_csv('circuits.csv')
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [96]:
constructors_filt = pd.read_json('constructors.json', lines=True)
constructors_filt.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [83]:
driver = pd.read_json('drivers.json', lines=True)

In [95]:
result = pd.read_json('results.json', lines=True)
result.shape

(24960, 18)

In [33]:
result.to_csv( 'results_filt.csv',index=False)

In [92]:
driver = pd.read_json('drivers.json', orient='values',lines=True)
print(driver.name)

0         {'forename': 'Lewis', 'surname': 'Hamilton'}
1          {'forename': 'Nick', 'surname': 'Heidfeld'}
2           {'forename': 'Nico', 'surname': 'Rosberg'}
3        {'forename': 'Fernando', 'surname': 'Alonso'}
4      {'forename': 'Heikki', 'surname': 'Kovalainen'}
                            ...
848    {'forename': 'Pietro', 'surname': 'Fittipaldi'}
849          {'forename': 'Jack', 'surname': 'Aitken'}
850         {'forename': 'Yuki', 'surname': 'Tsunoda'}
851       {'forename': 'Nikita', 'surname': 'Mazepin'}
852      {'forename': 'Mick', 'surname': 'Schumacher'}
Name: name, Length: 853, dtype: object

In [67]:
pit_stops = pd.read_json('pit_stops.json')

            raceId     driverId         stop          lap  milliseconds
count  8030.000000  8030.000000  8030.000000  8030.000000  8.030000e+03
mean    932.706476   476.712827     1.767995    25.124159  5.272927e+04
std      61.347956   395.415216     0.921017    14.353885  1.949831e+05
min     841.000000     1.000000     1.000000     1.000000  1.289700e+04
25%     879.000000    17.000000     1.000000    13.000000  2.190325e+04
50%     930.000000   813.000000     2.000000    25.000000  2.345900e+04
75%     982.000000   825.000000     2.000000    35.000000  2.581375e+04
max    1047.000000   851.000000     6.000000    78.000000  2.011266e+06

In [103]:

result1 = pd.read_csv('results_filt.csv')

In [134]:
result1.head(20)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
5,6,18,6,3,8,13,6,6,6,3.0,57,None,None,50,14,1:29.639,212.974,11
6,7,18,7,5,14,17,7,7,7,2.0,55,None,None,22,12,1:29.534,213.224,5
7,8,18,8,6,1,15,8,8,8,1.0,53,None,None,20,4,1:27.903,217.18,5
8,9,18,9,2,4,2,None,None,9,0.0,47,None,None,15,9,1:28.753,215.1,4
9,10,18,10,7,12,18,None,None,10,0.0,43,None,None,23,13,1:29.558,213.166,3
10,11,18,11,8,18,19,None,None,11,0.0,32,None,None,24,15,1:30.892,210.038,7
11,12,18,12,4,6,20,None,None,12,0.0,30,None,None,20,16,1:31.384,208.907,8
12,13,18,13,6,2,4,None,None,13,0.0,29,None,None,23,6,1:28.175,216.51,5
13,14,18,14,9,9,8,None,None,14,0.0,25,None,None,21,11,1:29.502,213.3,4
14,15,18,15,7,11,6,None,None,15,0.0,19,None,None,18,10,1:29.310,213.758,10
15,16,18,16,10,20,22,None,None,16,0.0,8,None,None,8,17,1:32.021,207.461,9
16,17,18,17,9,10,14,None,None,17,0.0,0,None,None,None,None,None,None,4
17,18,18,18,11,16,12,None,None,18,0.0,0,None,None,None,None,None,None,4
18,19,18,19,8,19,21,None,None,19,0.0,0,None,None,None,None,None,None,4
19,20,18,20,5,15,9,None,None,20,0.0,0,None,None,None,None,None,None,4

In [135]:
result1.replace(to_replace=["N"],value = None, inplace=True)
result1.to_csv( 'results_filt.csv',index=False)